.certification-list {
  padding: 20px;
}

.slds-modal__container {
  max-width: 600px;
}

.slds-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slds-modal__content {
  text-align: center;
}

.slds-modal__footer {
  display: flex;
  justify-content: center;
}

.certification-logo {
  max-width: 50px;
}
