.certification-list {
  padding: 20px;
}

.certification-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certification-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.certification-card .slds-box {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.certification-card h5 {
  margin: 10px 0;
}

.certification-card p {
  margin: 10px 0;
}

.certification-card button {
  margin-top: 10px;
}

.slds-modal__container {
  max-width: 600px;
}

.slds-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slds-modal__content {
  text-align: center;
}

.slds-modal__footer {
  display: flex;
  justify-content: center;
}
